.carouselWrapper {
	width: 100%;
	margin-left: 5px;
	margin-top: 5px;
}

.carouselContent img {
	max-width: 100%;
	height: auto; /* Mantiene le proporzioni dell'immagine */
}

@media (max-width: 768px) {
	.carouselContent {
		height: 300px;
		width: 100%;
	}
	.carousel-content h3 {
		font-size: 16px;
	}

	.carouselContent p {
		font-size: 14px;
	}
}

.carouselContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 250px;
	width: 300px;
}

.carouselContent:hover .cardBackground {
	opacity: 1;
}

.carouselContent:hover .cardDetails {
	opacity: 1; /* Mostra i dettagli all'hover */
}
