.carouselWrapper {
	width: 100%;
	margin-left: 5px;
	margin-top: 5px;
}

.carouselContent img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.cardDetails {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cardBackground {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
}

.carouselContent {
	opacity: 1;
	position: relative;
}

@media (max-width: 768px) {
	.carouselContent {
		height: 200px;
		width: 100%;
	}
	.carouselContent h3 {
		font-size: 16px;
	}

	.carouselContent p {
		font-size: 14px;
	}
}

.carouselContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 250px;
	width: 300px;
}

.carouselContent:hover .cardBackground {
	opacity: 0.2;
}

.carouselContent .cardDetails {
	opacity: 0;
	transition: all 0.5s ease;
}
.carouselContent:hover .cardDetails {
	opacity: 1;
}
