.Modal {
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	max-width: auto;
	min-width: auto;
	overflow: auto;
	/* background-color: #0c0a2b; */
	padding: 0;
	border: 0;
}

.Modal:focus-visible {
	outline: 0;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

.imgPost {
	height: 90vh;
	width: auto;
	object-fit: cover;
}
