.slick-prev,
.slick-next {
	/* font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent; */
	color: lighten(#5d5a92, 20%);
	z-index: 10;
}

.slick-prev:before,
.slick-next:before {
	/* font-family: "slick";
	font-size: 20px;
	line-height: 1;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	color: lighten(#5d5a92, 20%);
	z-index: 10;
}

// .slick-prev {
// 	left: 300px;
// 	top: 200px;
// }

// .slick-next {
// 	right: 300px;
// 	top: 200px;
// }
