.offcanvas-backdrop.show {
	opacity: 0.5;
	background-color: #000;
}

.offcanvas.show,
.offcanvas.exiting,
.offcanvas-exit-done {
	background-color: transparent !important;
	border: none !important;
}

.custom-offcanvas-class.show {
	background-color: transparent;
	border: none;
}

.offcanvas-body {
	padding: 0;
	width: 200px;
}
