// Variabili per i colori e font
$bg-color: #081421;
$text-color: #d3d7de;
$link-color: #fff;
$font-family: "Courier new";
$base-font-size: 18px;

// Stili base
body {
	background: $bg-color;
	color: $text-color;
	font-family: $font-family;
	font-size: $base-font-size;
	line-height: 1.5em;
	cursor: default;
}

a {
	color: $link-color;
}

// Stili specifici per .code-area
.code-area {
	position: absolute;
	width: 320px;
	min-width: 320px;
	top: 50%;
	left: 50%;
	transform: (translate(-50%, -50%));
	text-align: left;
	font-family: monospace;
	> span {
		display: block;
	}
}

// Media queries
@media screen and (max-width: 320px) {
	.code-area {
		font-size: 5vw;
		min-width: auto;
		width: 95%;
		margin: auto;
		padding: 5px;
		padding-left: 10px;
		line-height: 6.5vw;
		color: #777;
		font-style: italic;
	}
}

.comment-404 {
	color: #777;
	font-style: italic;
}

.keyword {
	color: #d65562;
}

.negation {
	color: #4ca8ef;
}

.italic {
	font-style: italic;
	color: #bdbdbd;
}

.throw {
	padding-left: 15px;
	color: #2796ec;
}
