#app-nav {
	// flex: 1;
	border-right: solid 1px #80808021;
	overflow: overlay;
}

.side-bar-left .nav-item {
	margin-inline: 15px;
	margin-block: 16px;
	padding: 10px 5px;
	color: #adadad;
	cursor: pointer;
	border-radius: 5px;
}
.side-bar-left .nav-item:hover,
.side-bar-left .nav-item.active {
	background: #ffffff1f;
	transition: 0.5s;
	color: white;
}

.side-bar-left #logo {
	width: 50%;
	height: auto;
	margin: 20px 0 0 0;
}

@media (max-width: 768px) {
	.side-bar-left #logo {
		width: auto;
	}
}

// .side-bar-left {
// }

.side-bar-left.mobile {
	position: fixed;
	width: 0;
	transition: width 0.5s;
}

.side-bar-left.open {
	width: 250px; /* O la larghezza che preferisci */
}

.side-bar-left:not(.col-2) .nav-text {
	display: none;
}

.side-bar-left {
	background-color: $all;
	color: white;
}

.my-nav {
	background-color: $all;
	color: white;
}

.my-nav .nav-link {
	color: white;
}
.my-nav .nav-link h5 {
	color: white;
}

.text {
	color: white;
}

.side-back {
	color: #adadad;
}

.btn-mobile {
	position: absolute;
	z-index: 1500;
	top: 10px;
	right: 10px;
}

.offcanvas-body {
	background-color: $all;
	padding: 0;
}
